* {
    margin: 0;
    padding: 0;
}

body {
  display: flex;
  flex-direction: column;
}

@media (max-width: 575px) { 

  header nav.menu {
    display: none;
  }

  header label input {
    display: none;
  }

  header label img {
    height: 70px;
    width: 60px;
    margin-left: 10px;
    position: relative;
    z-index: 10;
  }

  header label img.close {
    height: 60px;
    width: 60px;
    margin-left: 10px;
    margin-top: 8px;
  }
  
  #burger:checked ~ img.close {
    display: inline-block;
  }

  #burger:checked ~ img.burger {
    display: none;
  }

  .close {
    display: none;
  }

  header label nav.hamburger {
    display: none;
  }

  #burger:checked ~  div nav.hamburger {
    margin:0;
    width: 100%;
    top: 0;
    margin-left: 50px;
    margin-top: 90px;
    display: block;
  }

  header label div nav.hamburger li {
    list-style: none;
    margin-bottom: 10px;
  }

  header label div nav.hamburger li a {
    text-decoration: none;
    color: black;
    font-size: 21px;
  }

  header label div nav.hamburger > ul > li:hover > a{
    color: #2169EC;

  }

  @keyframes apparitionBurger {
    0% {
      box-shadow: 0px 3px 3px 1px rgba(0,0,0,0);
      border-top: 3px solid #2169EC;
      width: 20%;
      height: 200px;
    }
    30% {
      box-shadow: 0px 3px 3px 1px rgba(0,0,0,0.3);

    }
    100% {
      max-height: 50em;
      border-top: 3px solid #2169EC;
      box-shadow: 0px 3px 3px 1px rgba(0,0,0,0.3);
      width: 50%;
      height: 430px;
    }
  }

  #burger:checked ~ .menuBurger{  
    animation: apparitionBurger 0.3s forwards;
    position: absolute;
    overflow: hidden;
    transform: translateY(-75px);
    background-color: white;
    z-index: 7;
  }
  form.formulaire {
    margin: 70px;
    height: 40%;
    width: 70%; 
    position: relative;
    z-index: 5;
  }

  form.formulaire input {
    margin-top: 5px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 20px;
  }

  form.formulaire textarea {
    margin-top: 5px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 70px;
  }

  form.formulaire select {
    margin-top: 5px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 30px;
  }

  form.formulaire button {
    margin-right: 10px;
    height: 30px;
    width: 20%;
  }

  form.formulaire fieldset {
    margin-top: 5px;
    margin-bottom: 10px;
    padding: 20px;
    display: flex;
    flex-direction: row;
  }

  form.formulaire fieldset label {
    margin-top: 10px;
    width: 50px;
    margin-right: 25px;
    margin-left: 5px;
  }

  form.formulaire fieldset input {
    margin-top: 10px;
    margin-right: 5px;
    width: 50%;
  }

}
@media (min-width: 576px) {
  header nav.menu {
      margin:0;
      width: 100%;
      position: absolute;
      top: 0;
      background-color: white;
  }

  header label {
    display: none;
  }

  header nav > ul {
      display: flex;
      text-align: center;
      list-style: none;
      height: 10%;

  }

  header nav > ul > li {
      flex: 1;
      position: relative;
      height: 100%;
      background-color: white;
      margin: 10px 10px;
  }


  header nav > ul > li > a {
      text-decoration: none;
      color: black;
  }

  nav .deroulant > a:after{
      content: 'â¯';
      font-size: 15px;
      margin-left: 5px;
      display: inline-block;
  }

  .deroulant:hover > a:after{
      animation: rotationFleche 0.2s linear forwards;
  }

  .deroulant:hover > .sous {
      animation: apparitionSousMenu 1s forwards;
    }

  nav .sous {
      margin-top: 5%;
      width: 120%;
      text-align: left;
      background-color: white;
      border-radius: 2px;
      overflow: hidden;
      max-height: 0;
      position: relative;
      z-index: 1000;
  }

  nav .sous > li {
      list-style: none;
    }
    
    nav .sous > li > a {
      height: 50px;
      padding-left: 10px;
      padding-right: 10px;
      width: 100%;
      align-items: center;
      display: flex;
      text-decoration: none;
      color: black;
    }

    nav > ul > li:hover > a{
      color: #2169EC;
      
    }

    .sous > li:hover {
      background-color: rgba(33, 105, 236, 0.3);
    }
    
    .sous > li:hover > a {
      color: white;
    }

    @keyframes rotationFleche {
      0% {
        transform: rotate(0deg);
      }
      100%{
        transform: rotate(90deg);
      }
    }

    @keyframes apparitionSousMenu {
      0% {
        box-shadow: 0px 3px 3px 1px rgba(0,0,0,0);
        border-top: 3px solid #2169EC;
      }
      30% {
        box-shadow: 0px 3px 3px 1px rgba(0,0,0,0.3);

      }
      100% {
        max-height: 50em;
        border-top: 3px solid #2169EC;
        box-shadow: 0px 3px 3px 1px rgba(0,0,0,0.3);
      }
    }

    form.formulaire {
      margin: 70px;
      height: 40%;
      width: 70%; 
      position: relative;
      z-index: 5;
      padding-bottom: 2.5rem
    }

    form.formulaire input {
      margin-top: 5px;
      margin-bottom: 10px;
      display: flex;
      flex-direction: column;
      width: 70%;
      height: 20px;
    }

    form.formulaire textarea#content {
      margin-top: 5px;
      margin-bottom: 10px;
      display: flex;
      flex-direction: column;
      width: 70%;
      height: 70px;
      display: none;
    }

    form.formulaire label#contentLabel {
      display: none;
    }

    form.formulaire select {
      margin-top: 5px;
      margin-bottom: 10px;
      display: flex;
      flex-direction: column;
      width: 70%;
      height: 30px;
    }

    form.formulaire button {
      margin-right: 10px;
      height: 30px;
      width: 20%;
    }

    form.formulaire fieldset {
      margin-top: 5px;
      margin-bottom: 10px;
      padding: 20px;
      display: flex;
      flex-direction: row;
    }

    form.formulaire fieldset label {
      margin-top: 10px;
      width: 50px;
      margin-right: 25px;
      margin-left: 5px;
    }

    form.formulaire fieldset input {
      margin-top: 10px;
      margin-right: 5px;
      width: 50%;
    }
  }


footer {
  background-color: rgb(88, 86, 86);
  opacity: 0.85;
  width: 100%;
  height: 10%;
  position: fixed;
  bottom: 0;
  z-index: 1000;
}

footer section {
  width: 100%;
  height: 10%;
}

footer p {
  color: white;
  opacity: 1;
  text-align: center;
  vertical-align: middle;
}